MyNotes/MyNotesApp/.vs/MyNotesApp/v15/Server/sqlite3/db.lock
MyNotes/MyNotesApp/.vs/MyNotesApp/v15/Server/sqlite3/storage.ide
MyNotes/MyNotesApp/.vs/MyNotesApp/v15/Server/sqlite3/storage.ide-shm
MyNotes/MyNotesApp/.vs/MyNotesApp/v15/Server/sqlite3/storage.ide-wal
